    * {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        font-style: italic;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    
    .pricetable {
        background-color: #8e9775;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 200px;
        border-radius: 10px;
    }
    
    ul {
        list-style: none;
        margin: 10px;
    }
    
    ul li {
        margin-top: 10px;
        font-weight: 600;
    }
    
    .pricetable img {
        width: 200px;
    }
    
    .pricetable span {
        margin: 10px auto;
    }
    
    .pricetable input {
        width: 200px;
        padding: 8px 0;
        border-radius: 8px;
    }
    
    .pricetable:hover {
        box-shadow: 5px 5px 55px 5px rgb(61, 61, 61, 0.4);
    }
    
    span {
        background-color: whitesmoke;
        padding: 15px;
        border-radius: 100px;
        border-style: dotted;
        color: #8e9775;
        font-size: 20px;
        font-family: poppins;
        font-weight: bold;
    }
    
    body {
        background-color: black;
    }